            /*        @import url(https://fonts.googleapis.com/css?family=Nunito);*/



            .btn-radio {
                cursor: pointer;
                display: inline-block;
                -webkit-user-select: none;
                user-select: none;
            }

            .btn-radio:not(:first-child) {
                margin-left: 20px;
            }

            @media screen and (max-width: 480px) {
                .btn-radio {
                    display: block;
                    float: none;
                }
                .btn-radio:not(:first-child) {
                    margin-left: 0;
                    margin-top: 15px;
                }
            }

            .btn-radio svg {
                fill: none;
                vertical-align: middle;
            }

            .btn-radio svg circle {
                stroke-width: 2;
                stroke: #C8CCD4;
            }

            .btn-radio svg path {
                stroke: #008FFF;
            }

            .btn-radio svg path.inner {
                stroke-width: 6;
                stroke-dasharray: 19;
                stroke-dashoffset: 19;
            }

            .btn-radio svg path.outer {
                stroke-width: 2;
                stroke-dasharray: 57;
                stroke-dashoffset: 57;
            }

            .btn-radio input {
                display: none;
            }

            .btn-radio input:checked+svg path {
                transition: all 0.4s ease;
            }

            .btn-radio input:checked+svg path.inner {
                stroke-dashoffset: 38;
                transition-delay: 0.3s;
            }

            .btn-radio input:checked+svg path.outer {
                stroke-dashoffset: 0;
            }

            .btn-radio span {
                display: inline-block;
                vertical-align: middle;
            }


          .status-radio-button
          {
              margin-left: 55px !important;
          }

          .distance
          {
              margin-left:82px;

          }
          .fuel
          {
           left:37px;
          }
 .selected
 {
     background-color: aquamarine;
    display: grid;
 }


.bootstrap-select > .dropdown-toggle
{
    width: 230px !important;
    margin-left:21px;
}

.pt-3,.py-3
{
    padding-top:0rem !important;
    padding-bottom:0rem !important;
}

body
{
    background-image: url('../image/car/home-1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;


}

label
{
    color:azure;
    font-size: 16px;
}


.car-license
{
    right: 60px !important;
    position: relative;
}

.car-color
{
   margin-left: -166px;
   padding-left: 0px;
   position: absolute;

}


/*Title class Textbox*/
.txtTitle
{
    position: relative;
    left: 59px;
    margin-left:0px;
    padding-left: 7px;
}

.title_rent
{
    position: absolute;
    left: 125px;
    width: 200px;
    top: 0px;
    bottom: 72px;
}
/*These class for image upload preview*/

.preview-images-zone
{
    width: 100%;
    border: 1px solid #ddd;
    min-height: 80px;
    /*display flex*/
    padding:5px 5px 0px 5px;
    position: relative;
    overflow:auto;
}



.preview-images-zone >.preview-image
{
    height: 34px;
    position: relative;
    margin-right: 5px;
    float: left;
    margin-bottom: 5px;
}

.preview-images-zone > .preview-image > .image-zone {
    width: 100%;
    height: 100%;
}
.preview-images-zone > .preview-image > .image-zone > img {
    width: 100%;
    height: 100%;
}
.preview-images-zone > .preview-image > .tools-edit-image {
    position: absolute;
    z-index: 100;
    color: #fff;
    bottom: 0;
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
    display: none;
}
.preview-images-zone > .preview-image > .image-cancel {
    font-size: 18px;
    position: absolute;
    top: 0;
    right: 0;
    font-weight: bold;
    margin-right: 10px;
    cursor: pointer;
    display: none;
    z-index: 100;
}
.preview-image:hover > .image-zone {
    cursor: move;
    opacity: .5;
}
.preview-image:hover > .tools-edit-image,
.preview-image:hover > .image-cancel {
    display: block;
}



/*These class for color hover select*/
.aqua:hover
{
    background-color: aqua;
}

.red:hover
{
    background-color:red;
}

.green:hover
{
    background-color: green;
}
.beige:hover
{
    background-color: beige;
}
.blue:hover
{
    background-color: blue;
}
.brown:hover
{
 background-color: brown;
}
.gray:hover
{
    background-color: gray;
}
.maroon:hover
{
    background-color: maroon;
}
.orange:hover
{
    background-color: orange;
}

.pink:hover
{
    background-color: pink;
}

.purple:hover
{
    background-color: purple;
}

.silver:hover
{
    background-color: silver;
}

.turquoise:hover
{
    background-color: turquoise;
}

.yellow:hover
{
    background-color: yellow;
}
.gold:hover
{
    background-color: gold;
}
.white:hover
{
    color:black;
    background-color:white;
}
.black:hover
{
   color:white;
   background-color: black;
}

.car_color
{
   right: 144px;

}
.car_color_style
{
    border-color: aquamarine;

}
.content1
{
    float: right;
    position: absolute;
    margin-left: -81px;
    right: 26px;
}

.year-select2
{
    left:58px;
    position: relative;
}
.engine_pos
{
    position: relative;
    left:77px;
}

.car_rental_title_row
{
    position: relative;
    bottom: 10px;
    left: 7px;
    height: 35px;
}
